* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.contain {
  max-width: 3000px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 67px 110px;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}
.navbar__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25.5738px;
  line-height: 42px;
  /* or 165% */
  color: #000000;
  animation-name: link;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.navbar__link:hover {
  color: #90E051;
}
.navbar__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navbar__right i {
  font-size: 25px;
}
.navbar__burger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  display: none;
}
.navbar__burger-items {
  background-color: black;
  width: 30px;
  height: 3px;
}

@media (max-width: 1200px) {
  .navbar {
    justify-content: space-between;
    padding: 20px 0px;
    width: 90%;
    gap: 0% !important;
  }
  .navbar__wrapper {
    display: none;
  }
  .navbar__burger {
    display: flex;
  }
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 110px;
  justify-content: space-between;
}
.intro__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.intro__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  /* or 165% */
  color: #000000;
}
.intro__title span {
  color: #90E051;
}
.intro__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 22.3333px;
  line-height: 34px;
  /* or 150% */
  color: #000000;
}
.intro__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.intro__button {
  background-color: white;
  color: #90E051;
  padding: 21px 42px;
  border: none;
  font-family: "Rubik";
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #90E051;
}
.intro__button:hover {
  background-color: #90E051;
  color: white;
}
.intro__right {
  position: relative;
  width: 50%;
  max-width: 800px;
  height: 100%;
}
.intro__right img {
  width: 100%;
}
.intro__right-circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  right: -50px;
  width: 90%;
  height: 90%;
  background-color: #90E051;
}
.intro__right-price {
  position: absolute;
  top: -50px;
  padding: 10% 5%;
  border-radius: 100px;
  background-color: rgb(119, 222, 15);
}
.intro__right-price-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 200%;
  line-height: 41px;
  color: #FFFFFF;
}

@media (min-width: 500px) and (max-width: 1200px) {
  .intro {
    flex-direction: column;
    gap: 100px;
    padding: 100px 0px;
    width: 90%;
  }
  .intro__title {
    font-size: 70px;
    text-align: center;
    width: 100%;
  }
  .intro__left {
    justify-content: center;
    text-align: center;
  }
  .intro__box {
    justify-content: center;
    width: 100%;
  }
  .intro__right-price {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 10%;
    width: 20%;
    height: 20%;
  }
  .intro__right-price-text {
    font-size: 70%;
  }
}
@media (max-width: 500px) {
  .intro {
    flex-direction: column;
    width: 90%;
    gap: 100px;
    justify-content: center;
    padding: 50px 0px;
  }
  .intro__title {
    font-size: 40px;
  }
  .intro__text {
    font-size: 20px;
  }
  .intro__left {
    justify-content: center;
    text-align: center;
  }
  .intro__button {
    padding: 15px 25px;
  }
  .intro__right {
    width: 100%;
    max-width: 300px;
  }
  .intro__box {
    width: 100%;
    justify-content: center;
  }
  .intro__right-circle {
    height: 70%;
    right: 0px;
  }
  .intro__right-price {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    width: 100%;
    padding: 10px 20px;
    font-size: 10px;
  }
}
.proff {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.proff__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.proff__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 15.9429px;
  line-height: 21px;
  /* identical to box height, or 133% */
  color: #000000;
}
.proff__price {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 26.5715px;
  line-height: 32px;
  /* identical to box height, or 120% */
  color: #000000;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 110px 100px 0px;
}
.menu__left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
.menu__main-burger {
  position: absolute;
  left: -100px;
}
.menu__top-burger {
  position: absolute;
  top: 10%;
  left: 70%;
}
.menu__burger {
  position: absolute;
  bottom: 15%;
  left: 72%;
  width: 100%;
  max-width: 165px;
}
.menu__circle {
  width: 600px;
}
.menu__div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -40px;
  padding: 5px 30px;
  background-color: #90E051;
  border-radius: 10px;
}
.menu__div-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 55.897px;
  line-height: 66px;
  color: #FFFFFF;
}
.menu__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  max-width: 680px;
  height: 700px;
  gap: 50px;
  position: relative;
  flex-direction: column;
  background-color: #90E051;
  padding: 30px 50px;
  border-radius: 30px;
  transition: all 1s ease-in-out;
}
.menu form {
  position: relative;
  display: none;
}
.menu form > i {
  position: absolute;
  top: 28%;
  left: 5%;
  width: 30px;
}
.menu__input {
  padding: 10px 0px 10px 33px;
  border-radius: 50px;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16.7873px;
  line-height: 20px;
  color: #6D6C6C;
}
.menu__button {
  background-color: white;
  color: #90E051;
  padding: 12px 0px;
  border: none;
  position: absolute;
  bottom: 10%;
  z-index: 3;
  width: 40%;
  border-radius: 17px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 22.3521px;
  line-height: 26px;
  letter-spacing: -0.025em;
  word-spacing: 8px;
  box-shadow: 0px 0px 1000px 100px #90E051;
  color: #90E051;
}
.menu__button:hover {
  opacity: 0.9;
}
.menu__button:active {
  display: none;
}
.menu__cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 24px;
  overflow-x: auto;
}
.menu__items-burger {
  position: absolute;
  left: 30%;
  top: -30px;
  width: 100px;
}
.menu__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  flex-direction: column;
}
.menu__cards-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.menu__items {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 240px;
  flex-direction: column;
  gap: 10px;
  padding: 70px 25px 17px;
  background-color: white;
  border-radius: 30px;
}
.menu__items svg:nth-child(1) {
  width: 26px;
  color: #ffbf00;
}
.menu__items svg:nth-child(2) {
  width: 34px;
  height: 34px;
  color: #90E051;
}
.menu__items-title {
  width: 100%;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16.7873px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: -0.025em;
  color: #000000;
}
.menu__items-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14.2047px;
  letter-spacing: -0.025em;
  color: #000000;
}
.menu__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  justify-content: start;
}
.menu__box-grade {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.5964px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: -0.03em;
  color: #000000;
}
.menu__bottom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}
.menu__box-price {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19.5955px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: -0.03em;
  color: #90E051;
}
.menu__box-price span {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 500px) and (max-width: 1200px) {
  .menu {
    padding: 50px 0px;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .menu__left {
    width: 100%;
    gap: 20px;
  }
  .menu__main-burger {
    display: none;
  }
  .menu__burger {
    display: none;
  }
  .menu__div {
    width: 100%;
    position: static;
  }
  .menu__top-burger {
    display: none;
  }
  .menu__circle {
    width: 100%;
    display: none;
  }
  .menu__right {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .menu {
    padding: 50px 0px;
    width: 90%;
    gap: 20px;
  }
  .menu__left {
    width: 100%;
    gap: 20px;
  }
  .menu__main-burger {
    display: none;
  }
  .menu__burger {
    display: none;
  }
  .menu__div {
    width: 100%;
    position: static;
  }
  .menu__top-burger {
    display: none;
  }
  .menu__circle {
    width: 100%;
    display: none;
  }
  .menu__right {
    width: 100%;
  }
  .menu__button {
    display: none;
  }
  .menu__items {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .menu__box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu__items-burger {
    left: 0px;
  }
  .menu__bottom-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */